<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true">
	<appender name="console"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss SSS}]-[%p]-[%c{2}(%L)]-[%t] %m%n" />
		</layout>
	</appender>

	<appender name="rootlog"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/logs/acctprint/root.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss SSS}]-[%p]-[%c{2}(%L)]-[%t] %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework.jdbc.core.JdbcTemplate"
		additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger
		name="org.springframework.jdbc.core.StatementCreatorUtils"
		additivity="false">
		<level value="TRACE" />
		<appender-ref ref="rootlog" />
	</logger>

	<logger name="org.springmodules" additivity="false">
		<level value="WARN" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger name="net.sf.ehcache" additivity="false">
		<level value="WARN" />
	</logger>
	<logger name="org.apache" additivity="false">
		<level value="WARN" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="WARN" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger name="org.eclipse.jetty" additivity="false">
		<level value="WARN" />
		<appender-ref ref="rootlog" />
	</logger>

	<!-- esb -->
	<logger name="stdLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger name="daeLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger name="trcLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger name="bizLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="rootlog" />
	</logger>

	<!-- rocketmq -->
	<logger name="RocketmqClient" additivity="false">
		<level value="WARN" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger name="RocketmqCommon" additivity="false">
		<level value="WARN" />
		<appender-ref ref="rootlog" />
	</logger>
	<logger name="RocketmqRemoting" additivity="false">
		<level value="WARN" />
		<appender-ref ref="rootlog" />
	</logger>

	<root>
		<appender-ref ref="rootlog" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>